@font-face {
  font-family: 'PixelLCD';
  src: url('../src/assets/fonts/pixel_lcd_7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* === Base Styles === */

html {
  font-size: 16px;
  /* or 1rem baseline */
}

body {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1rem;
  /* inherits from html (16px) */
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  overflow: hidden;
  cursor: crosshair;

}

h1 {
  font-size: 1.5em;
  color: var(--color-primary-lighter);
  /* font-family: 'PixelLCD', sans-serif; */
  letter-spacing: 0.3em !important;
}

h2 {
  font-size: 1.3em;
  /* text-shadow: 0 0 3px var(--color-primary-lighter); */
  color: var(--color-primary-lighter);
}

h3 {
  font-size: 1.2em;
  color: var(--color-primary-lighter);
  letter-spacing: 0.3em !important;
  line-height: 0.7;
  margin-top: 0.5em !important;
  /* smaller top margin */
  margin-bottom: 0em !important;
  /* smaller bottom margin */
  padding: 0 !important;
  /* optional – ensures no extra padding */
}

h4 {
  font-size: 1em;
  text-shadow: 0 0 3px var(--color-primary-lighter);
  color: var(--color-primary);
}

h5 {
  font-size: 1em;
  color: var(--color-primary);
  margin-left: 1em;
}


a {
  color: var(--color-primary);
  /* text-decoration: underline; */
  cursor: pointer;
  transition: color 0.2s ease;
  font-style: italic;
}

.hidden {
  display: none;
}



/* === Terminal Container Full Height === */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}



/* Neon scrollbar look (Firefox) */
.neon-scroll {
  scrollbar-width: thick;
  scrollbar-color: var(--color-primary-darker) rgba(0, 0, 0, 0.3);
  overflow-y: auto;
}

/* Neon scrollbar look (WebKit) */
.neon-scroll::-webkit-scrollbar {
  width: 8px;
}

.neon-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.neon-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, var(--color-primary-darker), rgba(0, 0, 0, 0.3));
  border-radius: 4px;
}

.neon-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, var(--color-primary-darker), rgba(0, 0, 0, 0.3));
}


/* src/styles/aioha-modal.css */
.aioha-modal-theme .text-gray-900,
.aioha-modal-theme .dark\:text-white {
  color: var(--color-primary-lighter) !important;
  background-color: black !important;
}

.aioha-modal-theme .bg-white,
.aioha-modal-theme .dark\:bg-gray-900 {
  border: 1px solid var(--color-primary-darkest) !important;
  background-color: black !important;
}
tr.hover\:bg-gray-50:hover {
  background-color: black !important; 
  border: none !important;
  box-shadow: inset 0 0 0 3px var(--color-primary-darkest);
}


.pixel-ttt-font {
  font-family: 'Press Start 2P', monospace !important;
  line-height: 1;
  font-size: calc(3 * 1cqh);
  display: flex;
  align-items: center;
  justify-content: center;
}
