:root {
--color-primary: hsl(180, 100%, 40%);
  --color-primary-darker: hsl(180, 100%, 20%);
  --color-primary-darkest: hsl(180, 100%, 10%);
  --color-primary-lighter: hsl(180, 100%, 60%);
  --color-primary-lightest: hsl(180, 100%, 70%);
}
